/*Font family link*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/*Webpage Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

/*Contact form section*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(background-contact.jpeg);
}
.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 2.5em;
    color: blanchedalmond;
    font-weight: 800;

}
.contact .content p{
    color: blanchedalmond;
    font-size: 1em;
    font-weight: 400;
}

/*Section box*/
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 10px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    background: rgba(0, 0, 0, 0.529);
    min-height: 350px;
    flex-direction: column;
    color: blanchedalmond;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.495);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.50em;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}
.container .contactInfo .box:hover .icon{
    background: rgb(251, 1, 1);
    color: rgb(0, 0, 0);
}

.container .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: blanchedalmond;
    font-weight: 500;
}

.container .contactInfo .box .text h3{
    font-weight: 300;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
}

.container .contactInfo .txt{
    color: red;
    margin-top: 10px;
    font-weight: 350;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    padding-left: 10px;
    border-left: 50px solid rgba(255, 255, 255, 0.495);
    line-height: 1em;
    font-size: 1.2em;
}

/*Icons Style*/
.icons{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.icons li{
    list-style: none;
}

.icons li a{
    color: rgba(255, 255, 255, 0.495);
    font-size: 2em;
    transition: 0.5s;
}
.icons li a:hover{
    color: red;
}

/*Content Style*/
.container .contactForm{
    position: relative;
    width: 40%;
    background: rgba(67, 65, 65, 0.532);
    min-height: 100px;
    padding: 60px;
}
.container .contactForm h2{
    font-size: 2.2em;
    color: blanchedalmond;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 50px; 
}
.container .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
    color: white;
}
.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    resize: none;
    background-color: rgba(67, 65, 65, 0.532);
    
}

.container .contactForm .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: rgb(251, 251, 251);
    transition: 0.5s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}

.container .contactForm .inputBox input:focus ~ span,
.container .contactForm .inputBox textarea:focus ~ span,
.container .contactForm .inputBox input:valid ~ span,
.container .contactForm .inputBox textarea:valid ~ span{
    color: gold;
    font-size: 1em;
    transform: translateY(-20px);
}

.container .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: black;
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    padding: 10px;
    font-weight: 300;
    transition: 0.5s;
    border-radius: 20px;
}

.container .contactForm .inputBox input[type="submit"]:hover{
    background: gold;
    color: darkgreen;
}

/*Make this responsive*/
@media (max-width: 991px){
    .contact{
        padding: 50ox;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm{
        width: 100%;
    }
    .container .contactForm{
        padding: 50px 30px;
    }
}
